@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
body {
  animation: strobe 1s infinite;
background-color: #00ff04;
}

h1 { 
  color: #ff0000;
font-family: "Irish Grover";
}
@keyframes strobe {
0% {background-color: #000000;        }
  100% { background-color: #FF0000}
}
